@charset "utf-8";

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("../fonts/pokemon_solid-webfont.woff2") format("woff2");
    font-family: "Pokemon-title";
    font-weight: 400;
}

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("../fonts/pokemongb-raeo-webfont.woff2") format("woff2");
    font-family: "Pokemon-text";
    font-weight: 400;
}


//Colors 
$pokemon-hero-color: #FFCB05;
$pokemon-blue-color: #2A75BB;
$pokemon-red-color: #FF0000;
$pokemon-sky-blue: #3c5aa6;


body {
    background-image: url("../Images/emerald.png") ;
    background-color: red;
    background-size: cover;
}


#main-title {
    font-family: "Pokemon-title";
    color: $pokemon-blue-color;
} 

.pokemon-title {
    background-color: $pokemon-hero-color;
}

#pressstart, #inputname {
    font-family: Pokemon-text;
    color:black;
    margin-top: 400px;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
}


#username {
    width: 500px;
    font-family: Pokemon-text;
    background-color: rgba(0,0,0,0.1);
}

#username::placeholder {
    color: black;
}

#inputname {
    font-family: Pokemon-text;
}

#mainc{
    margin-top: 400px;
}

.buttonblock {
    margin-top: 30px;
}

.buttonblock {
    
    .redyes
    {
        color:$pokemon-red-color;
        font-family: Pokemon-text;
        background-color: rgba(0,0,0,0.1);

    }
    .blueno {
    color: $pokemon-sky-blue;
    font-family: Pokemon-text;
    background-color: rgba(0,0,0,0.1);
    }
}