@charset "utf-8";

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("../fonts/pokemon_solid-webfont.woff2") format("woff2");
    font-family: "Pokemon-title";
    font-weight: 400;
}

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("../fonts/pokemongb-raeo-webfont.woff2") format("woff2");
    font-family: "Pokemon-text";
    font-weight: 400;
}

//Colors
$pokemon-hero-color: #ffcb05;
$pokemon-blue-color: #2a75bb;
$pokemon-red-color: #ff0000;
$pokemon-sky-blue: #3c5aa6;

body {
    background-image: url("../Images/emerald.png");
    background-size: cover;
}

#main-title {
    font-family: "Pokemon-title";
    color: $pokemon-blue-color;
}

.pokemon-title {
    background-color: $pokemon-hero-color;
}

#pressstart,
#inputname {
    font-family: Pokemon-text;
    color: black;
    margin-top: 400px;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
}

#username {
    width: 500px;
    font-family: Pokemon-text;
    background-color: rgba(0, 0, 0, 0.1);
}

#username::placeholder {
    color: black;
}

#inputname,
#hit,
#stand,
#deal {
    font-family: Pokemon-text;
}

#mainc {
    margin-top: 400px;
}

.buttonblock {
    margin-top: 30px;
}

.buttonblock {
    .redyes {
        color: $pokemon-red-color;
        font-family: Pokemon-text;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .blueno {
        color: $pokemon-sky-blue;
        font-family: Pokemon-text;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.card {
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 95px;
    height: 150px;
    float: left;
    padding: 3px 3px 3px 3px;
    margin: 5px;
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position-x: 11px;
    background-position-y: 50px;
    font-size: 25px;
}

.hearts {
    background-image: url("../Images/bullbasaur.png");
}
.clubs {
    background-image: url("../Images/charmander.png");
}
.spades {
    background-image: url("../Images/squirtle.png");
}
.diamonds {
    background-image: url("../Images/pikachu.png");
}
#hit {
    background-color: red;
}

#stand {
    background-color: #6992f2;
}

#deal {
    background-color: $pokemon-hero-color;
}

.dealerdiv {
    padding-bottom: 470px !important;
    height: 500px;
}

.dealerdiv2 {
    padding-bottom: 310px !important;
    height: 500px;
}

.user {
    padding-top: 50px;
}
