@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pokemonHero {
    background-color: #ffcb05;
  }
  
  .text-pokemonHero {
    color: #ffcb05;
  }
  
  .bg-pokemonBlue {
    background-color: #2a75bb;
  }
  
  .text-pokemonBlue {
    color: #2a75bb;
  }
  
  .bg-pokemonRed {
    background-color: #ff0000;
  }
  
  .text-pokemonRed {
    color: #ff0000;
  }
  
  .bg-pokemonSkyblue {
    background-color: #3c5aa6;
  }
  
  .text-pokemonSkyblue {
    color: #3c5aa6;
  }


@font-face {
    src: url("../fonts/pokemon_solid-webfont.woff2") format("woff2");
    font-family: "Pokemon-title";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/pokemongb-raeo-webfont.woff2") format("woff2");
    font-family: "Pokemon-text";
    font-weight: 400;
}


body {
    /* background-color: lavenderblush; */
    font-family: 'Pokemon-text';
    font-weight: bold;
    color: black;
    text-align: center;
    background-image: url("../Images/emerald.png");
    background-size: cover;
}

#main-title a {
    font-family: "Pokemon-title";
    -webkit-text-stroke: 2px #2a75bb;
}


#pressstart,
#inputname {
  font-family: "Pokemon-text";
  color: black;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

#username {
    background-color: rgba(0, 0, 0, 0.1);
}

.redyes {
    background-color: rgba(0, 0, 0, 0.1);
}

img {
    width:50px;
    height:50px;
}


















#startgame, #newCard {
    width: 200px;
    height: 45px;
    background-color: greenyellow;
    font-weight: bolder;
    border-radius: 15px;
    display: block;   
    margin:auto
}
#newCard {
    margin-top: 20px;
}

#message-el {
    font-style: italic;
}