body {
    background-color: lavenderblush;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
}

h1 {
    color:darkgoldenrod;
    margin-top: 50px;
}

#startgame, #newCard {
    width: 200px;
    height: 45px;
    background-color: greenyellow;
    font-weight: bolder;
    border-radius: 15px;
    display: block;   
    margin:auto
}
#newCard {
    margin-top: 20px;
}

#message-el {
    font-style: italic;
}