@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pokemonHero {
    background-color: #ffcb05;
  }
  
  .text-pokemonHero {
    color: #ffcb05;
  }
  
  .bg-pokemonBlue {
    background-color: #2a75bb;
  }
  
  .text-pokemonBlue {
    color: #2a75bb;
  }
  
  .bg-pokemonRed {
    background-color: #ff0000;
  }
  
  .text-pokemonRed {
    color: #ff0000;
  }
  
  .bg-pokemonSkyblue {
    background-color: #3c5aa6;
  }
  
  .text-pokemonSkyblue {
    color: #3c5aa6;
  }


@font-face {
    src: url("../fonts/pokemon_solid-webfont.woff2") format("woff2");
    font-family: "Pokemon-title";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/pokemongb-raeo-webfont.woff2") format("woff2");
    font-family: "Pokemon-text";
    font-weight: 400;
}


body {
    /* background-color: lavenderblush; */
    font-family: 'Pokemon-text';
    font-weight: bold;
    color: black;
    text-align: center;
    background-image: url("../Images/emerald.png");
    background-size: cover;
}

#main-title a {
    font-family: "Pokemon-title";
    -webkit-text-stroke: 2px #2a75bb;
}


#pressstart,
#inputname {
  font-family: "Pokemon-text";
  color: black;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}



/* Playername Styles */


#username {
    background-color: rgba(0, 0, 0, 0.1);
}

.redyes {
    background-color: rgba(0, 0, 0, 0.1);
}

/*Dealer cards*/

.card {
  border: solid 1px #aaa;
  border-radius: 9px;
  width: 150px;
  height: 220px;
  padding: 3px 3px 3px px;
  margin: 5px;
  background-size: 140px 100px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 65px;
  font-size: 25px;
  background-color: whitesmoke;
}

.hearts {
  background-image: url("../Images/bullbasaur.png");
}
.clubs {
  background-image: url("../Images/charmander.png");
}
.spades {
  background-image: url("../Images/squirtle.png");
}
.diamonds {
  background-image: url("../Images/pikachu.png");
}

#hit {
  background-color: red;
}

#stand,
#double
{
  background-color: #6992f2;
}

.user {
  padding-top: 50px;
}

audio::-webkit-media-controls-panel {
  background-color: #56aeff;
}

/*pokechip images*/

.img-hover-zoom {
  height: 96px; /* [1.1] Set it as per your need */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}














#startgame, #newCard {
    width: 200px;
    height: 45px;
    background-color: greenyellow;
    font-weight: bolder;
    border-radius: 15px;
    display: block;   
    margin:auto
}
#newCard {
    margin-top: 20px;
}

#message-el {
    font-style: italic;
}