@charset "utf-8";

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("../fonts/pokemon_solid-webfont.woff2") format("woff2");
    font-family: "Pokemon-title";
    font-weight: 400;
}

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("../fonts/pokemongb-raeo-webfont.woff2") format("woff2");
    font-family: "Pokemon-text";
    font-weight: 400;
}

//Poke-Colors
$pokemon-hero-color: #ffcb05;
$pokemon-blue-color: #2a75bb;
$pokemon-red-color: #ff0000;
$pokemon-sky-blue: #3c5aa6;

body {
    background-image: url("../Images/emerald.png");
    background-size: cover;
}

//Heading style//

#main-title a {
    font-family: "Pokemon-title";
    color: $pokemon-hero-color;
    -webkit-text-stroke: 2px $pokemon-blue-color;
}

a:link,
a:visited,
a:hover {
    font-family: "Pokemon-title";
    color: $pokemon-hero-color;
}

//Start Game styling//

#pressstart,
#inputname {
    font-family: Pokemon-text;
    color: black;
    margin-top: 200px;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
}

#username {
    width: 500px;
    font-family: Pokemon-text;
    background-color: rgba(0, 0, 0, 0.1);
}

#username::placeholder {
    color: black;
}

#inputname,
#hit,
#stand,
#deal {
    font-family: Pokemon-text;
}

#mainc {
    margin-top: 250px;
}

.redyes {
    color: $pokemon-red-color !important;
    font-family: Pokemon-text;
    background-color: rgba(0, 0, 0, 0.1) !important;
    margin-top: 10px;
    margin-left: 10px;
}
.blueno {
    color: $pokemon-sky-blue !important;
    font-family: Pokemon-text;
    background-color: rgba(0, 0, 0, 0.1) !important;
    margin-top: 10px;
    margin-left: 10px;
}

.card {
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 95px;
    height: 150px;
    float: left;
    padding: 3px 3px 3px 3px;
    margin: 5px;
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position-x: 11px;
    background-position-y: 50px;
    font-size: 25px;
}

.hearts {
    background-image: url("../Images/bullbasaur.png");
}
.clubs {
    background-image: url("../Images/charmander.png");
}
.spades {
    background-image: url("../Images/squirtle.png");
}
.diamonds {
    background-image: url("../Images/pikachu.png");
}
#hit {
    background-color: red;
}

#stand {
    background-color: #6992f2;
}

#deal {
    background-color: $pokemon-hero-color;
}

.dealerdiv {
    padding-bottom: 470px !important;
    height: 500px;
}

.dealerdiv2 {
    padding-bottom: 310px !important;
    height: 500px;
}

.user {
    padding-top: 50px;
}

audio::-webkit-media-controls-panel {
    background-color: #56aeff;
}
